// =========HERO===========
.s-hero{
  padding-top: calc(8.2rem + 8.3rem);
  background: url(../assets/bg.png);
  background-position: top center;

  .container{
    display: flex;
  }
}

.hero-left{
  width: 105%; 

  .challenge{
    font-family: $heading;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 120%;
    text-transform: uppercase;
    background: linear-gradient(to top right, #0194FF, #01EADA);
    -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
    padding-bottom: 2rem;
  }

  p{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
    padding: 2rem 0 8.6rem;
    width: 53.9rem ;
  }
}

.squares{
  display: flex;
  gap: 1.2rem;
  position: relative;

  &::after{
    content: url(../assets/enjoy.svg);
    position: absolute;
    left: 2.7rem;
    bottom: -7rem;
  }

  .square{
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 4px;
  }

  .square1{
    background: linear-gradient(to right, #686874, #46464e);
  }

  .square2{
    background: linear-gradient(to right, #46464e, #2c2c31);
  }

  .square3{
    background: linear-gradient(to right, #2c2c31, #242429);
  }

  .square4{
    background: linear-gradient(to right, #242429, $neutral100)
  }
}

.hero-right{
  position: relative;
  width: 100%;

  .rocket{
    margin-left: -16.5rem;
    position: relative;
    z-index: 1;
  }

  .hero-right-txt{
    min-width: 34rem;
    position: absolute;
    top: 30rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .hero-right-dates{
      background: linear-gradient(to left, $primary-color, transparent);
      width: 100%;
      padding: 2rem 3rem 2rem 0rem;
      border-radius: 0 2rem;

      h3{
        color: $white;
        width: 100%;
        max-width: 11rem;
        margin-left: auto;
      }
    }

    img{
      margin: 3.6rem 0 1.4rem auto;
      padding-right: 1rem;
    }

    p{
      color: $white;
      display: inline-block;
      text-align: right;
      max-width: 28rem;
    }
  }
}


// =========CLOUDS=========
.clouds{
  position: relative;
  width: 100%;
  
  .cloud-front,
  .cloud-middle,
  .cloud-back{
    position: absolute;
    top: -28.4rem;
    width: 100%;
  }

  .cloud-front{
    z-index: 100;
  }

  .cloud-middle{
    z-index: 99;
    animation: cloudHero 6s infinite;
  }

  .cloud-back{
    z-index: 98;
  }
}

@keyframes cloudHero{
  0%{
    transform: translateX(0)
  }

  50%{
    transform: translateX(-40px)
  }
  
  100%{
    transform: translateX(0)
  }
}

// =========DESAFIOS=========
section.s-desafio{
  position: relative;
  z-index: 200;
  margin-top: 10rem;

    h2{
      text-align: center;
    }
}

.desafios{
  display: flex;
  justify-content: space-between;
  gap: 6.2rem;
  margin: 8.2rem auto 9.7rem;
  width: 100%;
  max-width: 118.4rem;

  .box-desafio{
    width: 100%;
    max-width: 24.8rem;

    h4{
      padding: 4rem 0 1.6rem;
    }

    p{
      color: $neutral400;
    }

    a{
      font-weight: 700;
      display: block;
      margin-top: 2.4rem;
    }
  }
}

// =========PREMIOS=========
.s-premios{
  padding: 0 1.6rem;

  .container{
    width: 100%;
    max-width: 136.8rem;
    background: url(../assets/bg-premios.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8.4rem 5.8rem 10.6rem;
    margin-inline: auto;
    border-radius: 2.5rem;

    h2{
      color: $white;
      width: 100%;
      max-width: 60.8rem;
      text-align: center;
      margin: 0 auto 5.5rem;
    }
  }
}

.premios{
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  .box-premio{
    width: 100%;
    max-width: 28rem;
    // height: 21.1rem;
    padding: 5.4rem 3rem 4.6rem;
    background-color: $neutral300;
    opacity: 0.8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h4{
      color: $white;
      margin-top: 3.2rem;
      text-align: center;
    }

  }
}

// =========PARTICIPAR=========
.s-participar{
  width: 100%;
  max-width: 130.2rem;
  margin: -2rem auto;
  padding: 0 1.6rem;
  position: relative;
  z-index: -1;

  .container{
    background: url(../assets/bg-purple.png) no-repeat;
    width: 100%;
    max-width: 130rem;
    border-radius: 0 0 2.5rem 2.5rem;
    padding: 8.1rem 4.3rem 9.6rem;

    h2{
      color: $white;
      text-align: center;
    }

    p{
      color: $white;
      text-align: center;
      width: 100%;
      max-width: 86.4rem;
      margin: 2.4rem auto 8.3rem;
    }
  }
}

.s-participar-checklist{
  display: flex;
  justify-content: space-between;

  .check{
    width: 100%;
    max-width: 38.4rem;
    display: flex;
    align-items: flex-start;

    p{
      margin: 0;
      text-align: left;
      padding-left: 2.4rem;
    }

    img{
      padding-top: 8px;
    }
  }
}

// =========RESULTADO=========
.s-resultado{
  width: 100%;
  max-width: 121.6rem;
  margin: 10.4rem auto 7.9rem;
}

.concurso,
.redes,
.apoiadores{
  @include flex(row, center, none);
  gap: 13.7rem;
}

.concurso{
  border-bottom: 1.5px solid rgba(115, 115, 128, 0.1);
  padding-bottom: 8rem;

  .resultado{
    width: 100%;
    max-width: 48.7rem;

    span{
      font-size: 3.2rem;
      display: inline-block;
      margin-bottom: 2.4rem;
    }

    h2{
      font-weight: 700;
      color: $neutral200;
    }

    p{
      color: $neutral400;
      margin: 2.4rem 0rem;

      a{
        &:hover{
          color: $primary-color;
        }
      }
    }

    .time{
      display: flex;
      gap: 2.4rem;

      p{
        margin: 0;
      }
    }
  }
}

.redes{
  padding: 4.9rem 0 4.5rem;
  border-bottom: 1.5px solid rgba(115, 115, 128, 0.1);
  

  h3,
  .button{
    display: inline-block;
  }

  .btn-notion{
    background-color: $neutral500;

    &:hover{
      background-color: #8accd1;
    }
  }
}

.apoiadores{
  margin-top: 5.6rem;
}

.organizacao{
  ul{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 5.4rem;
  }
}


// =========RESPONSIVE=====
// =========TABLET=========
@include responsive(1150px){
  // **** HERO ****
  .s-hero{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 75%;
    .container{
      flex-direction: column;
    }
  }

  .hero-left{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .challenge{
      padding-bottom: 1.6rem;
    }

    h1{
      max-width: 62rem;
    }

    p{
      padding: 3.2rem 0 5.6rem;
    }
  }

  .hero-right{
    margin-top: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .rocket{
      margin-left: 0;
    }
  }

  .squares {
    &::after{
      display: none;
    }
    & > div {
      display: none;
    }
  }

  // **** PREMIOS ****
  .s-premios{
    .container{
      border-radius: 1.6rem;
    }
  }

  .premios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.4rem;

    .box-premio{
      margin-inline: auto;
    }
  }
}

@include responsive(850px){
  // **** HERO ****
  .s-hero{
    background-position-x: 69%;
  }

  .hero-left{
    p{
      padding: 2.4rem 0 4rem;
    }
  }

  .hero-right{
    flex-direction: column;

    .hero-right-txt{
      position: relative;
      top: -13rem;
      margin-inline: auto;

      p{
          text-align: center;
          margin-inline: auto;
      }

      img{
        margin-inline: auto;
      }

      .hero-right-dates{
        background: none;
        border: 1px solid red;
        padding-right: 0;
        h3{
          text-align: center;
          margin-inline: auto;
        }
      }
    }
  }

  .clouds{
    .cloud-front,
    .cloud-middle,
    .cloud-back{
      top: -18rem;
    }
  }

  // **** DESAFIO ****
  .desafios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
    

    .box-desafio{
      margin-inline: auto;
      text-align: center;

      img{
        margin-inline: auto;
      }
    }
  }
}

@include responsive(700px){
  // **** PREMIOS ****
  .s-premios{
    .container{
      border-radius: 8px;
    }
  }

  .premios{
    grid-template-columns: 1fr;
  }
}

@include responsive(600px){
  .clouds{
    .cloud-front,
    .cloud-middle,
    .cloud-back{
      top: -9rem;
    }
  }

  // **** DESAFIO ****
  .desafios{
    grid-template-columns: 1fr;
    grid-gap: 5.6rem;
    margin: 5.6rem auto 7.2rem;
  }
}


// =========MOBILE=========
// @include responsive(600px){
 
// }